.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

#currencySelect {
    height: 50px;
    width: 200px;
    background-color: orange;
    color: black;
    border-radius: 8px;
    font-weight: bold;
}